page-login {

    .content{
        background-color:darkred;
    }

    .logo{
        width: 120px;
        margin: auto;
        height: 180px;
        display: block;
        margin-bottom: 80px;
        margin-top: 50px;
    }

    .botao{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        // img{
        //     height: 19px;
        //     margin-right: 5px;
        //     margin-top: auto;
        //     margin-bottom: auto;
        // }
    }

    .texto{
        color: white;
        text-align: center;
        font-size: 15px;
    }

    .logo-face{
        color: blue;
    }

    /*.logo-google{
        background-image: linear-gradient(to bottom, red, orange, green, blue);
    }*/

}
