<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar color="danger">
  </ion-navbar>-->

</ion-header>


<ion-content padding class="content">

  <img class="logo" src="assets/imgs/logo1.png">

  <p class="texto">ENTRAR COM:</p>

  <div class="buttons">
  <button class="botao" ion-button block round item-end icon-start color="light" (click)="loginWithFacebook()">
    <ion-icon ios="logo-facebook" md="logo-facebook" class="logo-face"></ion-icon>
    Facebook
  </button>

  <button class="botao" ion-button block round color="light" item-end icon-start>
    <ion-icon ios="logo-google" md="logo-google" class="logo-google" color="danger"></ion-icon>
    <!--<img src="assets/imgs/google.png">-->
    Google
  </button>

  <button class="botao" ion-button block round color="light" item-end icon-start (click)="loginEmail()">
    <ion-icon ios="ios-mail" md="md-mail" color="secondary"></ion-icon>
    Email
  </button>
</div>

  <!--<p class="link"><a>CRIAR UMA CONTA</a></p>
  <p class="link"><a>ESQUECI A SENHA</a></p>-->

</ion-content>