<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Novo Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 style="text-align: center;">Preencha as informações do seu evento</h3>
  <br>

  <ion-list>

    <ion-item>
      <ion-label stacked>ID</ion-label>
      <ion-input type="text" [(ngModel)]="evento.id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nome do evento</ion-label>
      <ion-input type="text" [(ngModel)]="evento.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Organizador</ion-label>
      <ion-input type="text" [(ngModel)]="evento.id_organizador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descricao</ion-label>
      <ion-textarea rows="5" [(ngModel)]="evento.descricao"></ion-textarea>
    </ion-item>

    <ion-item no-lines>
      <ion-label stacked style="color: gray">Estilos</ion-label>
    </ion-item>

    <ion-list no-lines>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Rock</ion-label>
            <ion-checkbox [(ngModel)]="estilos.Rock" (ionChange)="change('Rock')"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Sertanejo</ion-label>
            <ion-checkbox [(ngModel)]="estilos.Sertanejo" (ionChange)="change('Sertanejo')"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Pagode</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Funk</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Samba</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Eletrônica</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-list>

    <ion-input type="text" value="{{valueEstilos}}"></ion-input>

    <ion-item>
      <ion-label stacked>Data do Evento</ion-label>
      <!-- <ion-datetime displayFormat="DD/MM/YYYY" min="2019" max="2025-12-31" [(ngModel)]="evento.data_evento"></ion-datetime> -->
      <ion-input type="date" [(ngModel)]="evento.data_evento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Horário do Evento</ion-label>
      <!-- <ion-datetime displayFormat="HH:mm" [(ngModel)]="evento.horario"></ion-datetime> -->
      <ion-input type="time" [(ngModel)]="evento.horario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Local</ion-label>
      <ion-input type="text" [(ngModel)]="evento.local_evento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="evento.endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Número</ion-label>
      <ion-input type="text" [(ngModel)]="evento.numero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="evento.cidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Estado</ion-label>
      <ion-input type="text" [(ngModel)]="evento.estado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Atrações</ion-label>
      <ion-textarea rows="5" [(ngModel)]="evento.atracao"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Informações sobre os Ingressos</ion-label>
      <ion-textarea rows="5" [(ngModel)]="evento.info_ingresso"></ion-textarea>
    </ion-item>

    <ion-item>
      <button icon-start ion-button color="secondary" (click)="getImage()">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Imagem do Evento
      </button>
    </ion-item>

    <ion-item>
      <img src="{{imageURI}}"/>
    </ion-item>

    <button ion-button block round (click)="uploadImage()">Salvar</button>

  </ion-list>

</ion-content>