<!--
<ion-header>

  <ion-navbar>
    <ion-title>tabs</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content padding>

  <ion-tabs>
    <ion-tab tabIcon="home" tabTitle="Home" [root]="home" class="tab-selected"></ion-tab>
    <ion-tab tabIcon="search" tabTitle="Pesquisar" [root]="pesquisa"></ion-tab>
    <ion-tab tabIcon="contact" tabTitle="Perfil" [root]="perfil"></ion-tab>
  </ion-tabs>

</ion-content>
