<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="contentLoginEmail">

  <div class="loginEmail">
    <ion-item class="itemLogin">
      <ion-label color="light" floating><ion-icon ios="ios-person" md="md-person"></ion-icon> Email:</ion-label>
      <ion-input type="text" #email></ion-input>
    </ion-item>

    <ion-item class="itemLogin">
      <ion-label color="light" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon> Senha:</ion-label>
      <ion-input type="password" #senha></ion-input>
    </ion-item>
  </div>

  <p class="link"><a (click)="cadastroEmail()">CRIAR UMA CONTA</a></p>
  <p class="link"><a (click)="esqueciSenha()">ESQUECI A SENHA</a></p>

  <p><button ion-button block round color="light" class="botaoLogar" (click)="logarEmail()">Logar</button></p>

</ion-content>