page-login-email {

    .contentLoginEmail{
        background-color: darkred;
    }

    .itemLogin{
        background-color:darkred;
    }

    p{
        text-align: center;
        a{
            color:white;
        }
    }

    .botaoLogar{
        width: 150px;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .loginEmail{
        margin-top: 80px;
    }

    ion-item{
        border-radius: 30px !important;
        padding-left: 10px !important;
        //margin-bottom: 10px;
        //color: white;
        //background-color: darkred;
        opacity: 1;
        font-size: 0.9em;
    }

}
