<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="assets/imgs/perfil.png">
    </ion-thumbnail>
    <h1>Bar do Dú</h1>
  </ion-item>

  <!-- <p> -->
    <ion-row>
      <ion-col col-6>
        <p class="p1"><a>30 EVENTOS</a></p>
      </ion-col>

      <ion-col col-6>
          <p class="p2"><a>150 SEGUIDORES</a></p>
      </ion-col>
    </ion-row>
  <!-- </p> -->

  <ion-list no-lines>
    <button ion-item (click)="editPerfil()">
      Editar Perfil
    </button>
    <button ion-item (click)="settings()">
      Configurações
    </button>
    <button ion-item (click)="anuncios()">
      Anúncios
    </button>
    <button ion-item (click)="ajuda()">
      Ajuda
    </button>
    <button ion-item (click)="sobre()">
      Sobre
    </button>
  </ion-list>

</ion-content>