page-escolha-perfil {

    .content-escPerfil{
        background-color: darkred;
    }

    .user{
        width: 150px;
        height: 150px;
        //margin: auto auto;
        margin-left: auto;
        margin-right: auto;
        //margin-bottom: 50%;
        margin-top: 15%;
        background-color: darkred;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .organizer{
        width: 150px;
        height: 150px;
        //margin: auto auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        background-color: darkred;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

}
