<ion-content padding class="content-escPerfil">

  <!--<button ion-button block class="botao-escPerfil"><img src="assets/imgs/user.png" alt=""></button>
  <button ion-button block class="botao-escPerfil"><img src="assets/imgs/maker.png" alt=""></button>-->

  <p class="user">
    <a (click)="login()">
      <img src="assets/imgs/user.png" >
    </a>
    Usuário
  </p>

  <p class="organizer">
    <a (click)="login()">
      <img src="assets/imgs/maker.png" >
    </a>
    Organizador
  </p>

</ion-content>