<ion-header>
  <ion-navbar color="darkred">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="event">
      <ion-segment-button value="eventos" checked>
        Eventos
      </ion-segment-button>
      <ion-segment-button value="solicitacoes">
        Solicitações
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="event">
    <ion-list *ngSwitchCase="'eventos'">
      <ion-item nolines>
        <ion-thumbnail item-start>
          <img src="assets/imgs/perfil.png">
        </ion-thumbnail>
        <div>
          <p text-wrap><a>Show de sexta</a> com <a>Banda Nasco</a> no <a>Bar do Dú</a> no dia 30/11/2018</p>
        </div>
      </ion-item>
      <ion-item nolines>
        <ion-thumbnail item-start>
          <img src="assets/imgs/perfil.png">
        </ion-thumbnail>
        <p text-wrap><a>Halloween</a> com <a>DJ Witch</a> no <a>Deck Choperia</a> no dia 31/10/2018</p>
      </ion-item>

      <ion-fab bottom right>
        <button ion-fab mini (click)="cadastrarEvento()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>

    </ion-list>

  </div>
</ion-content>