<ion-header>

  <ion-navbar color="darkred">
      <ion-searchbar (click)="loadSegment()" placeholder="Pesquisar"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
  <div *ngIf="active">
    <a icon-only icon-start (click)="backFalse()">
        <!-- <ion-icon ios="ios-arrow-dropleft-circle" md="md-arrow-dropleft-circle" color="dark"></ion-icon> -->
        <h1 style="text-align: center; color: black; padding-top: 10px; font-weight: bold;">←</h1>
    </a>
  </div>

  
</ion-row>
  <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list> -->

  <div padding *ngIf="!active">
    <ion-grid no-padding>
      <ion-row justify-content-around>
        <ion-col>
          <ion-card>
            <img src="assets/imgs/festa.png" />
            <div class="card-title">Evento</div>
            <!-- <div class="card-subtitle">Data e Horario</div> -->
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img src="assets/imgs/festa.png" />
            <div class="card-title">Evento</div>
            <!-- <div class="card-subtitle">Data e Horario</div> -->
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card>
            <img src="assets/imgs/festa.png" />
            <div class="card-title">Evento</div>
            <!-- <div class="card-subtitle">Data e Horario</div> -->
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card>
            <img src="assets/imgs/festa.png" />
            <div class="card-title">Evento</div>
            <!-- <div class="card-subtitle">Data e Horario</div> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="active">
    <div padding>
      <ion-segment [(ngModel)]="search">
        <ion-segment-button value="preference">
          Preferências
        </ion-segment-button>
        <ion-segment-button value="location">
          Localização
        </ion-segment-button>
        <ion-segment-button value="marking">
          Marcação
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="search">
      <ion-list *ngSwitchCase="'preference'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/banda.png">
          </ion-thumbnail>
          <h2>Banda Nasco</h2>
          <h3>Descrição Perfil</h3>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>