<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Configurações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item (click)="changePassword()">Senha</button>
    <button ion-item>Solicitações</button>
    <button ion-item (click)="limparHistorico()">Limpar Histórico</button>
    <button ion-item (click)="sair()">Sair</button>
  </ion-list>

</ion-content>
