page-esqueci-senha {
    .itemForgot{
        background-color: darkred;
    }
    .contentEsqueciSenha{
        background-color: darkred;
    }
    .texto{
        color: white;
        text-align: left;
        font-size: 15px;
    }
    .Telefone{
        background-color: darkred;
        color: white;
    }
    .CNPJ{
        background-color: darkred;
    }

   
    .botaoConfirmar{
        width: 150px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;}
}
ion-input{
    color:white;
}
