<!--
  Generated template for the CadastroEmailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Esqueci a senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contentEsqueciSenha">

  <ion-item class="itemForgot">
    <ion-label color="light" floating><ion-icon ios="ios-call" md="md-call"></ion-icon> Telefone:</ion-label>
    <ion-input type="call">
        <input-mask mask="+32 (0) 4__/__.__.__" allowedChars="0-9" type="tel" maskCharacter="_" tabindex="100"></input-mask>
    </ion-input>
  </ion-item>

  <ion-item class="itemForgot">
    <ion-label color="light" floating><ion-icon ios="ios-person" md="md-person"></ion-icon> CPF/CNPJ:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <!--<p class="texto">Confirmação de senha:</p>
  <ion-item class="itemLogin">
    <ion-label color="light"><ion-icon ios="ios-person" md="md-person"></ion-icon> Senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
-->
<p><button ion-button block round color="light" class="botaoConfirmar" (click)="Confirmar">Confirmar</button></p>

<ion-item class="itemForgot">
  <ion-label color="light" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon> Nova senha:</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>
<ion-item class="itemForgot">
  <ion-label color="light" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon> Confirmar senha:</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>
</ion-content>
