<ion-content padding>

  <ion-slides pager>

    <ion-slide>
        <ion-toolbar>
            <ion-buttons end>
              <button ion-button color="primary" (click)="skip()">Skip</button>
            </ion-buttons>
          </ion-toolbar>
      <h2>Bem vindo ao Quero Festa
        <p>Seu aplicativo de busca e cadastro de eventos.</p>
      </h2>
    </ion-slide>

    <ion-slide>
      <h2>Se você é um Organizador de eventos, você poderá:
        <p>- cadastrar seus eventos;</p>
        <p>- vinculá-los a bandas/estabelecimentos;</p>
        <p>- se comunicar com o público;</p>
        <p>- divulgar seus eventos.</p></h2>
    </ion-slide>

    <ion-slide>
      <h2>Se você é um Usuário, você poderá:
        <p>- procurar eventos na cidade e região;</p>
        <p>- pesquisar eventos por estabelecimentos (bares, restaurantes, pubs...), bandas, interesses musicais; </p>
        <p>- confirmar presença em um evento de interesse;</p>
      </h2>
    </ion-slide>

    <ion-slide>
      <h2>Faça um bom uso e divirta-se!</h2>
      <p>
        <a (click)="goToHome()">Começar</a>
      </p>
    </ion-slide>

  </ion-slides>

</ion-content>