page-cadastro-email {
    .itemCadastro{
        background-color: darkred;
        text-decoration-color: darkred;
    }
    .contentCadastroEmail{
        background-color: darkred;
    }
    .texto{
        color: white;
        text-align: left;
        font-size: 15px;
    }
    ion-input{
        color:white;
    }

}
