<!--
  Generated template for the CadastroEmailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contentCadastroEmail">

  <ion-item class="itemCadastro">
    <ion-label color="light" floating><ion-icon ios="ios-person" md="md-person"></ion-icon> Email:</ion-label>
    <ion-input type="email" name="email"></ion-input>
  </ion-item>

  <ion-item class="itemCadastro">
    <ion-label color="light" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon> Senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <!-- <p class="texto">Confirmação de senha:</p> -->
  <ion-item class="itemCadastro">
    <ion-label color="light" floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon> Confirmar senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
</ion-content>
