<ion-header>

  <ion-navbar color="darkred">
    <!-- <ion-title>Pesquisa</ion-title> -->
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar" class="searchBar" animated="true"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div padding>
        <ion-segment [(ngModel)]="search">
          <ion-segment-button value="preference">
            Preferências
          </ion-segment-button>
          <ion-segment-button value="location">
            Localização
          </ion-segment-button>
          <ion-segment-button value="marking">
            Marcação
          </ion-segment-button>
        </ion-segment>
      </div>
  
      <div [ngSwitch]="search">
        <ion-list *ngSwitchCase="'preference'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/imgs/banda.png">
            </ion-thumbnail>
            <h2>Banda Nasco</h2>
            <h3>Descrição Perfil</h3>
          </ion-item>
        </ion-list>
      </div>
    <!-- </div> -->

</ion-content>
