<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Sobre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item>Termos de Serviço</button>
    <button ion-item>Política de Privacidade</button>
    <button ion-item>Avisos Legais</button>
  </ion-list>

</ion-content>
