page-mudar-senha {

    ion-input{
        color: black;
        margin-top: 10px;
    }

    h5{
        text-align: center;
    }

    .btn{
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
