<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Alterar Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5>Digite seu CPF e sua senha atual</h5>

  <ion-item>
    <ion-label>
      <ion-icon ios="ios-person" md="md-person"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="CPF"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="Senha atual" *ngIf="showPwd" [(ngModel)]="passwordAtual"></ion-input>
    <ion-input type="password" placeholder="Senha atual" *ngIf="!showPwd" [(ngModel)]="passwordAtual"></ion-input>
    <button icon-only ion-button clear color="dark" item-end (click)="showPwd = !showPwd">
      <ion-icon ios="ios-eye" md="md-eye" *ngIf="!showPwd"></ion-icon>
      <ion-icon ios="ios-eye-off" md="md-eye-off" *ngIf="showPwd"></ion-icon>
    </button>

  </ion-item>

  <button class="btn" ion-button block round item-end color="secondary" (click)="validaSenha()">Validar</button>

  <div *ngIf="valida">

    <h5>Agora, digite sua nova senha</h5>

    <ion-item>
      <ion-label>
        <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
      </ion-label>
      <ion-input type="password" placeholder="Nova senha" *ngIf="!showPdwNew" [(ngModel)]="passwordNovo"></ion-input>
      <ion-input type="text" placeholder="Nova senha" *ngIf="showPdwNew" [(ngModel)]="passwordNovo"></ion-input>
      <button ion-button icon-only clear item-end color="dark" (click)="showPdwNew = !showPdwNew">
        <ion-icon ios="ios-eye" md="md-eye" *ngIf="!showPdwNew"></ion-icon>
        <ion-icon ios="ios-eye-off" md="md-eye-off" *ngIf="showPdwNew"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
      </ion-label>
      <ion-input type="password" placeholder="Confirmar nova senha" *ngIf="!showPdwNewConf" [(ngModel)]="passwordNovoConf"></ion-input>
      <ion-input type="text" placeholder="Confirmar nova senha" *ngIf="showPdwNewConf" [(ngModel)]="passwordNovoConf"></ion-input>
      <button ion-button icon-only clear item-end color="dark" (click)="showPdwNewConf = !showPdwNewConf">
        <ion-icon ios="ios-eye" md="md-eye" *ngIf="!showPdwNewConf"></ion-icon>
        <ion-icon ios="ios-eye-off" md="md-eye-off" *ngIf="showPdwNewConf"></ion-icon>
      </button>
    </ion-item>

    <button ion-button round block class="btn" (click)="trocarSenha()">Salvar</button>

  </div>

</ion-content>