<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Ajuda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item>Central de Ajuda</button>
    <button ion-item>Relatar um problema</button>
  </ion-list>

</ion-content>