<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Anúncios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item>Pagamentos</button>
    <button ion-item>Anúncios Exibidos</button>
    <button ion-item>Estatísticas</button>
  </ion-list>

</ion-content>
