<ion-header>

  <ion-navbar color="darkred">
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-thumbnail class="imgPerfil">
    <img src="assets/imgs/perfil.png">
  </ion-thumbnail>

  <div>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data Nascimento</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>CPF/CNPJ</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Localização do Estabelecimento</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>

  <button ion-button block round class="button">Salvar</button>

</ion-content>
